# Dependencias de Node.js
node_modules/

# Archivos generados por Vite para producción
dist/

# Archivos de configuración del sistema operativo
.DS_Store
Thumbs.db

# Archivos de configuración del editor
.vscode/
.idea/
*.swp

# Archivos de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Entornos de desarrollo y variables de entorno
.env
.env.local
.env.*.local

# Archivos temporales
tmp/
temp/
