:root {
    
    --color-1: #bfc7d2;
    --color-2: #a87ffb;
    --color-3: #5A96E3;
    --color-4: #10151d;
    --color-5: #0a2eff;
    --color-6: #48D1CC;
    --degradado-1: linear-gradient(to right, var(--color-1), var(--color-2));
    --degradado-2: linear-gradient(to right, var(--color-2), var(--color-3));
    --degradado-3: linear-gradient(to right, var(--color-3), var(--color-4));
}

body {
    font-family: monospace;
    margin: 0;
    padding: 0;
    background-color:var(--color-4);
    box-sizing: border-box;
}

.main-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    pointer-events: none;
  }

  .grid-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(142, 145, 150, 0.1) 1px, transparent 1px),
      linear-gradient(90deg, rgba(142, 145, 150, 0.1) 1px, transparent 1px);
    background-size: 40px 40px;
    background-position: center center;
    background-repeat: repeat;
    min-height: 100vh;
    min-width: 100vw;
  }

  .light-effect {
    position: fixed;
    width: 800px;
    height: 800px;
    background: radial-gradient(circle at center, rgba(139, 92, 246, 0.15) 0%, transparent 70%);
    pointer-events: none;
    transition: transform 100ms ease-out;
  }

.shine {
    background-image: radial-gradient(500px 200px at 50% 0%,#111d31 20%,rgba(24, 49, 19, 0) 100%);
    position: absolute;
    inset: 0;
    z-index: -5;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8em;
    max-width: 90%;
    margin: 1.5rem auto;
}

main{
    display: flex;
    justify-content: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li {
    margin-right: 50px;
}
nav ul li:last-child {
    margin-right: 0;
}
nav ul li a {
    text-decoration: none;
    color: var(--color-6);
    font-weight: bold;
    font-size: 1.1em;
}

nav ul li a:hover {

    border-color: var(--color-1);
	text-shadow: 0 0 5px var(--color-3), 0 0 20px var(--color-3), 0 0 30px var(--color-3);
}

.logo {
    margin-right: auto;

}

.logo svg{
    width: 8em;
    fill: var(--color-6); 
}

.logo svg:hover{

    scale: 1.1;
    filter: drop-shadow(5px 5px 5px rgba(59, 170, 255, 0.503));
}

.container {
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); /* Compatibilidad WebKit */
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 2px 4px 12px rgba(72, 209, 204, 0.4);
    padding: 1.5rem 2rem;
    max-width: 400px;
    width: 100%;
    margin: 3%;
    max-height: 525px;
    transition: all 0.3s ease;
}


h1 {
    color: #d9e0ec;
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin-bottom: 5px;
    color: #d2d9e6;
}
input, textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #e2e8f0;
    border-radius: 4px;
    font-size: 16px;
    background: rgba(0, 0, 0, 0.1); 
    color: white;
    backdrop-filter: blur(10px); 
}
textarea {
    resize: vertical;
    min-height: 100px;
}
button {
    background-color: var(--color-3);
    color: white;
    padding: 10px;
    border: solid 2px whitesmoke;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}
button:hover {
    background-color: whitesmoke;
    border: solid 2px var(--color-3);
    color: var(--color-3)
}
.social-links {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}



.social-links img{
    width: 4em;
    margin: 1em;
    filter: drop-shadow(0px 0px 5px #5ca3ffae);
}
@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
}
.float-animation {
    animation: float 3s ease-in-out infinite;
}


@media (width < 1200px) {

    header{
        font-size: 1.4em;
        display: flex;
        flex-direction: column;   
    }

    .container{
        margin: 3% 10% 5%;
    }
    .logo {
        margin: 1.5em auto;
    }

    .texto svg{
        width: 30%;
    }

    nav ul li {
        font-size: 1.2em;
        margin-right: 10px;
        margin-left: 10px;
        align-items: center;
    }

}

/*Breakpoint móviles */
@media (width < 450px) {

    header{
        margin: 10px;
    }
    .container{
        margin: 5% 7%;
        padding: 1rem;
    }
}
